.nav_dropdrown {
	width: 100%;
}
	

.nav_dropdrown_content {
	width: 100%
}

	
.nav_dropdrown_inner {
	padding: 15px 15px 20px;
}

.nav_dropdrown_content ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav_dropdrown_content ul li{
	font-size: .875em;
	letter-spacing: .025em;
	line-height: 24px;
	border-bottom: none;
}

.nav_dropdrown_content ul li a:hover{
	color: #888;
}


.nav_dropdrown_content .colHeader {
	display: block;
    margin-bottom: 18px;
    font-family: "Helvetica Neue",Verdana,Arial,sans-serif!important;
    font-size: .875em;
	line-height: 17px;
	letter-spacing: .1em;
	text-transform: uppercase;
	font-weight: 500;
}


/* Desktop */
@media (min-width: 992px){

	.nav_dropdrown {
		position: absolute;
		left: 0;
		top: 100%;
		padding: 0;
		z-index: 200;
		list-style: none;
		box-shadow: 0 25px 70px -30px rgba(0,0,0,.1);
	}

	.nav_dropdrown_inner {
		padding: 28px 0 40px;
		display: flex;
		justify-content: center;
	}
	
	.nav_dropdrown_content > div {
		border-right: 1px solid #f2f2f2;
	}

	.nav_dropdrown_content {
		display: grid;
		grid-template-columns: repeat(4,213px);
		grid-column-gap: 20px;
		width: auto;
	}

	#brands .nav_dropdrown_content > div {
		grid-column: 1/4;
	}
	
	#brands .nav_dropdrown_content div > ul:first-of-type {
		column-count: 3;
	}

	
}
